<body>
  <div class="well well-lg" id="message">
    <div id="message_box">
      <h1 id="stop">관리자 외 접근금지!</h1>
      <a href="/logout"><button class="btn btn-default" id="but">로그아웃</button></a>
    </div>
  </div>
</body>