<body>
  <div class="well well-lg" id="message">
    <div id="message_box">
      <h1>삭제되었습니다!</h1>
      <a href="/"><button class="btn btn-default" id="but">Userpage</button></a>
    </div>
  </div>
</body>